<% if (!user) { %>
<script>
  window.location.href = "login";
</script>
<p>
  This site works best with Javascript enabled. If you'd like to try anyway,
  click <a href="login">here</a>.
</p>
<% } else { %>
<!-- <p>Welcome! Please <a href="/add_article">Add article</a>.</p> -->
<script>
  window.location.href = "dashboard";
</script>
<p>
  This site works best with Javascript enabled. If you'd like to try anyway,
  click <a href="dashboard">here</a>.
</p>
<% } %>
