<% if (user) { %>
<!-- <p>Welcome! Please <a href="/add_article">Add article</a>.</p> -->
<script>
  window.location.href = "/dashboard";
</script>
<p>
  This site works better with Javascript enabled. If you'd like to try it
  anyway, click <a href="/dashboard">here</a>.
</p>
<% } else { %>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Login - Fludder</title>
    <meta
      name="description"
      asset
      content="This is a simple note-taking app exercise using Node/Express, Passport.js local auth and MongoDB/Mongoose."
    />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
    />

    <link rel="stylesheet" href="/css/Login-Form-Dark.css" />
  </head>

  <body>
    <nav
      class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient"
    >
      <div class="container">
        <a class="navbar-brand logo" href="/">Fludder</a>
        <button
          data-toggle="collapse"
          class="navbar-toggler"
          data-target="#navbarNav"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <main class="page contact-page"></main>
    
    <div class="login-dark">
      <section class="portfolio-block contact">
        <div class="container">
          <div class="heading">
            <div
              id="firstLoginAlert"
              class="d-none alert alert-light fade show"
              role="alert"
            >
              <strong>Great!</strong> Registration successful. You may log in
              below.
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div
              id="loginFirstAlert"
              class="d-none alert alert-light fade show"
              role="alert"
            >
            <!-- If user POSTs to /posted after logging out in another window etc. -->
              <strong>Ooops!</strong> You must log in before proceeding.
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div
              id="failedLoginAlert"
              class="d-none alert alert-light fade show"
              role="alert"
            >
              <strong>Ooops!</strong> Log in failed. Please try again or <a href="/register">register for an account</a>.  
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div
              id="loggedOutAlert"
              class="d-none alert alert-light fade show mt-4"
              role="alert"
            >
              Log out <strong>successful</strong>. Come back soon!
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      </section> <!-- end section portfolio-block contact-->

      <form method="post" action="/login">
        <h2 class="sr-only">Login Form</h2>
        <div class="illustration">
          <i class="icon ion-ios-locked-outline"></i>
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="email"
            name="username"
            placeholder="Email"
            autocomplete="username"
          />
        </div>
        <div class="form-group">
          <input
            class="form-control"
            type="password"
            name="password"
            placeholder="Password"
            autocomplete="current-password"
          />
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">
            Log In
          </button>
        </div>
        <!-- <a class="forgot" href="#">Forgot your email or password?</a> -->
      </form>
    </div>
    <footer class="page-footer">
      <div class="container">
        <div class="links">
          <a href="#">About me</a>
          <a href="#">Contact me</a>
          <a href="#">Projects</a>
        </div>
      </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <script>
      // If this is the first time logging in, display any firstLoginAlert
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      console.log(queryString);

      if (urlParams.get("firstLoginAlert") === "true") {
        const loginAlert = document.querySelector("#firstLoginAlert");
        loginAlert.classList.remove("d-none");
        loginAlert.classList.add("d-block");
      }
      if (urlParams.get("failedLoginAlert") === "true") {
        const loginAlert = document.querySelector("#failedLoginAlert");
        loginAlert.classList.remove("d-none");
        loginAlert.classList.add("d-block");
      }
      if (urlParams.get("loggedOutAlert") === "true") {
        const logoutAlert = document.querySelector("#loggedOutAlert");
        logoutAlert.classList.remove("d-none");
        logoutAlert.classList.add("d-block");
      }
      // gets triggered if user makes POST to /posted route when not logged in, like
      // user logged out other window or screwyness like someone trying to hack app
      if (urlParams.get("loginFirstAlert") === "true") {
        const logoutAlert = document.querySelector("#loginFirstAlert");
        logoutAlert.classList.remove("d-none");
        logoutAlert.classList.add("d-block");
      }

    </script>
  </body>
</html>
<% } %>
