<% if (user) { %>
<!-- <p>Welcome! Please <a href="/add_article">Add article</a>.</p> -->
<script>
  window.location.href = "/dashboard";
</script>
<p>
  This site works better with Javascript enabled. If you'd like to try it
  anyway, click <a href="/dashboard">here</a>.
</p>
<% } else { %>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Register - Fludder</title>
    <meta
      name="description"
      content="This is a simple note-taking app exercise using Node/Express, Passport.js local auth and MongoDB/Mongoose."
    />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"
    />

    <link rel="stylesheet" href="/css/Login-Form-Dark.css" />
    <!-- <link rel="stylesheet" href="/css/Profile-Edit-Form-1.css" /> -->
    <link rel="stylesheet" href="/css/Profile-Edit-Form.css" />
  </head>

  <body>
    <nav
      class="navbar navbar-dark navbar-expand-lg fixed-top bg-white portfolio-navbar gradient"
    >
      <div class="container">
        <a class="navbar-brand logo" href="#">Fludder</a
        ><button
          data-toggle="collapse"
          class="navbar-toggler"
          data-target="#navbarNav"
        >
          <span class="sr-only">Toggle navigation</span
          ><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link" href="login">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="about">About</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <main class="page hire-me-page">
      <section class="portfolio-block hire-me">
        <div class="container">
          <div class="heading">
            <h2>REGISTER FOR AN ACCOUNT</h2>
          </div>
          
          <form action="/register" method="post">
            <div class="form-group">
              <label for="email">Email (this will be your username)</label
              ><input
                class="form-control"
                type="email"
                id="email"
                name="username"
                required=""
                autofocus=""
              />
            </div>
            <div class="form-group">
              <label for="email">Display name</label
              ><input
                class="form-control"
                type="text"
                data-toggle="tooltip"
                data-bs-tooltip=""
                data-placement="bottom"
                id="email-2"
                name="fullname"
                required=""
                title="This is how you want your name to be displayed in the UI."
              />
            </div>
            <div class="form-group">
              <label for="email">Password</label
              ><input
                class="form-control"
                type="password"
                id="email-1"
                name="password"
                required=""
              />
            </div>
            <div class="form-group">
              <div class="form-row">
                <div class="col">
                  <button class="btn btn-primary btn-block" type="submit">
                    Register
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </main>
    <footer class="page-footer">
      <div class="container">
        <div class="links"><a href="/about">About</a></div>
        <div class="social-icons"></div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <script src="/js/bs-init.js"></script>
    <script src="/js/Profile-Edit-Form.js"></script>
  </body>
</html>
<% } %>
